@import "./styles/variables.css";
@import "./styles/inputs.css";
@import "./styles/button.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white dark:bg-app-bgdarkMode w-full min-h-screen;
  }
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  .font-title {
    @apply text-app-mainText dark:text-app-textdarkMode font-heading text-2xl md:text-4xl font-semibold tracking-wide first-letter:uppercase cursor-default;
  }
  .appWidth {
    @apply max-w-[1100px] mx-auto;
  }
  .appPadding {
    @apply px-5 lg:px-0 py-10 md:py-20;
  }
  .adminAppWidth {
    @apply max-w-[1500px] mx-auto;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* prevent layout shift in shadcn dialog */
html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}
body[data-scroll-locked] {
  min-width: 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
